---
- name: Install libraries with homebrew
  homebrew: name={{ item }} state=present
  with_items:
    - awscli
    - bash
    - bash-completion
    - bmon
    - docker-completion
    - docker-compose-completion
    - git
    - kubectl
    - lynx
    - pandoc
    - pass
    - shellcheck
    - tmux
    - tree
    - watch
    - wget


