---
  - name: homebrew golang
    homebrew: name=golang state=present

  - name: golang GOROOT env var in bash_profile
    lineinfile:
      path: "{{ ansible_env.HOME }}/.bash_profile"
      line: "export GOROOT=/usr/local/opt/go/libexec/bin"

  - name: golang GOROOT path in bash_profile
    lineinfile:
      path: "{{ ansible_env.HOME }}/.bash_profile"
      line: "export PATH=$PATH:/usr/local/opt/go/libexec/bin"

  - name: golang GOPATH env var in bash_profile
    lineinfile:
      path: "{{ ansible_env.HOME }}/.bash_profile"
      line: "export GOPATH={{ ansible_env.HOME}}/go"

  - name: homebrew bash
    homebrew: name={{ item }} state=present
    with_items:
      - bash
      - bash-completion
      - shellcheck

  - name: java the things
    homebrew_cask: name={{ item }} state=present
    with_items:
      - java

  - name: groovy et al
    homebrew: name={{ item }} state=present
    with_items:
      - groovysdk
      - gradle

  - name: scala
    homebrew: name=scala state=present install_options=with-src,with-docs

  - name: scala (with IntelliJ)
    lineinfile:
      path: "{{ ansible_env.HOME }}/.bash_profile"
      line: 'SCALA_HOME=/usr/local/opt/scala/idea'
